app/step-function-templates/handle_copy_jobs_sfn_template.asl.json
{
  "QueryLanguage": "JSONata",
  "Comment": "A description of my state machine",
  "StartAt": "Set variables from inputs",
  "States": {
    "Set variables from inputs": {
      "Type": "Pass",
      "Next": "Turn on rule",
      "Assign": {
        "sourceUriList": "{% $states.input.payload.sourceUriList %}",
        "destinationUri": "{% $states.input.payload.destinationUri %}",
        "taskToken": "{% $states.input.taskToken ? $states.input.taskToken : null %}",
        "renamingMapList": "{% $states.input.payload.renamingMapList ? $states.input.payload.renamingMapList : null %}"
      }
    },
    "Turn on rule": {
      "Type": "Task",
      "Arguments": {
        "Name": "${__external_heartbeat_event_bridge_rule_name__}"
      },
      "Resource": "arn:aws:states:::aws-sdk:eventbridge:enableRule",
      "Next": "Generate copy job list",
      "Retry": [
        {
          "ErrorEquals": ["EventBridge.InternalException"],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "Comment": "Handle internal event bridge exception"
        }
      ]
    },
    "Generate copy job list": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__generate_copy_job_list_lambda_function_arn__}",
        "Payload": {
          "sourceUriList": "{% $sourceUriList %}",
          "destinationUri": "{% $destinationUri %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        },
        {
          "ErrorEquals": ["ThrottlingException"],
          "BackoffRate": 2,
          "IntervalSeconds": 100,
          "MaxAttempts": 2,
          "JitterStrategy": "FULL"
        },
        {
          "ErrorEquals": ["ApiException"],
          "BackoffRate": 2,
          "MaxAttempts": 3,
          "IntervalSeconds": 60,
          "JitterStrategy": "FULL"
        },
        {
          "ErrorEquals": ["Sandbox.Timedout"],
          "BackoffRate": 2,
          "MaxAttempts": 3,
          "Comment": "Handle timeout",
          "IntervalSeconds": 60
        }
      ],
      "Next": "Run top level and recursive in parallel",
      "Assign": {
        "sourceDataList": "{% $states.result.Payload.sourceDataList %}",
        "destinationData": "{% $states.result.Payload.destinationData %}",
        "recursiveCopyJobsUriList": "{% $states.result.Payload.recursiveCopyJobsUriList %}",
        "externalSourceDataUriList": "{% $states.result.Payload.externalSourceDataUriList %}"
      }
    },
    "Run top level and recursive in parallel": {
      "Type": "Parallel",
      "Next": "Has renaming map",
      "Branches": [
        {
          "StartAt": "Find files with single multipart uploads",
          "States": {
            "Find files with single multipart uploads": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__find_single_part_files_lambda_function_arn__}",
                "Payload": {
                  "dataList": "{% $sourceDataList %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                },
                {
                  "ErrorEquals": ["ThrottlingException"],
                  "BackoffRate": 2,
                  "IntervalSeconds": 100,
                  "MaxAttempts": 2,
                  "JitterStrategy": "FULL"
                },
                {
                  "ErrorEquals": ["ApiException"],
                  "BackoffRate": 2,
                  "MaxAttempts": 3,
                  "IntervalSeconds": 60,
                  "JitterStrategy": "FULL"
                },
                {
                  "ErrorEquals": ["Sandbox.Timedout"],
                  "BackoffRate": 2,
                  "MaxAttempts": 3,
                  "Comment": "Handle timeout",
                  "IntervalSeconds": 60
                }
              ],
              "Next": "Handle single and multi-part files simultaneously",
              "Assign": {
                "multiPartDataList": "{% $states.result.Payload.multiPartDataList %}",
                "singlePartDataList": "{% $states.result.Payload.singlePartDataList %}"
              }
            },
            "Handle single and multi-part files simultaneously": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Upload single file",
                  "States": {
                    "Upload single file": {
                      "Type": "Map",
                      "ItemProcessor": {
                        "ProcessorConfig": {
                          "Mode": "INLINE"
                        },
                        "StartAt": "Save map vars",
                        "States": {
                          "Save map vars": {
                            "Type": "Pass",
                            "Next": "Get source file size",
                            "Assign": {
                              "sourceDataIter": "{% $states.input.sourceDataIter %}",
                              "destinationDataIter": "{% $states.input.destinationDataIter %}"
                            }
                          },
                          "Get source file size": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::lambda:invoke",
                            "Arguments": {
                              "FunctionName": "${__get_source_file_size_lambda_function_arn__}",
                              "Payload": {
                                "projectId": "{% $sourceDataIter.projectId %}",
                                "dataId": "{% $sourceDataIter.dataId %}"
                              }
                            },
                            "Retry": [
                              {
                                "ErrorEquals": [
                                  "Lambda.ServiceException",
                                  "Lambda.AWSLambdaException",
                                  "Lambda.SdkClientException",
                                  "Lambda.TooManyRequestsException"
                                ],
                                "IntervalSeconds": 1,
                                "MaxAttempts": 3,
                                "BackoffRate": 2,
                                "JitterStrategy": "FULL"
                              },
                              {
                                "ErrorEquals": ["ThrottlingException"],
                                "BackoffRate": 2,
                                "IntervalSeconds": 100,
                                "MaxAttempts": 2,
                                "JitterStrategy": "FULL"
                              },
                              {
                                "ErrorEquals": ["ApiException"],
                                "BackoffRate": 2,
                                "MaxAttempts": 3,
                                "IntervalSeconds": 60,
                                "JitterStrategy": "FULL"
                              },
                              {
                                "ErrorEquals": ["Sandbox.Timedout"],
                                "BackoffRate": 2,
                                "MaxAttempts": 3,
                                "Comment": "Handle timeout",
                                "IntervalSeconds": 60
                              }
                            ],
                            "Next": "Less than eight mbs",
                            "Output": {
                              "fileSizeInBytes": "{% $states.result.Payload.fileSizeInBytes %}"
                            }
                          },
                          "Less than eight mbs": {
                            "Type": "Choice",
                            "Choices": [
                              {
                                "Next": "Upload single part file (lambda)",
                                "Condition": "{% $states.input.fileSizeInBytes < (8 * 1024 * 1024) %}",
                                "Comment": "Less than 8 MB, use a lambda to upload"
                              }
                            ],
                            "Default": "Upload Single File (ECS)"
                          },
                          "Upload single part file (lambda)": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::lambda:invoke",
                            "Output": "{% $states.result.Payload %}",
                            "Arguments": {
                              "FunctionName": "${__upload_single_part_file_lambda_function_arn__}",
                              "Payload": {
                                "sourceData": "{% $sourceDataIter %}",
                                "destinationData": "{% $destinationDataIter %}"
                              }
                            },
                            "Retry": [
                              {
                                "ErrorEquals": [
                                  "Lambda.ServiceException",
                                  "Lambda.AWSLambdaException",
                                  "Lambda.SdkClientException",
                                  "Lambda.TooManyRequestsException"
                                ],
                                "IntervalSeconds": 1,
                                "MaxAttempts": 3,
                                "BackoffRate": 2,
                                "JitterStrategy": "FULL"
                              },
                              {
                                "ErrorEquals": ["ThrottlingException"],
                                "BackoffRate": 2,
                                "IntervalSeconds": 100,
                                "MaxAttempts": 2,
                                "JitterStrategy": "FULL"
                              },
                              {
                                "ErrorEquals": ["ApiException"],
                                "BackoffRate": 2,
                                "MaxAttempts": 3,
                                "IntervalSeconds": 60,
                                "JitterStrategy": "FULL"
                              },
                              {
                                "ErrorEquals": ["Sandbox.Timedout"],
                                "BackoffRate": 2,
                                "MaxAttempts": 3,
                                "Comment": "Handle timeout",
                                "IntervalSeconds": 60
                              }
                            ],
                            "End": true
                          },
                          "Upload Single File (ECS)": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.sync",
                            "Arguments": {
                              "LaunchType": "FARGATE",
                              "Cluster": "${__upload_single_part_file_cluster__}",
                              "TaskDefinition": "${__upload_single_part_file_task_definition__}",
                              "NetworkConfiguration": {
                                "AwsvpcConfiguration": {
                                  "Subnets": "{% $split('${__upload_single_part_file_subnets__}', ',') %}",
                                  "SecurityGroups": "{% [ '${__upload_single_part_file_security_group__}' ] %}"
                                }
                              },
                              "Overrides": {
                                "ContainerOverrides": [
                                  {
                                    "Name": "${__upload_single_part_file_container_name__}",
                                    "Environment": [
                                      {
                                        "Name": "SOURCE_PROJECT_ID",
                                        "Value": "{% $sourceDataIter.projectId %}"
                                      },
                                      {
                                        "Name": "SOURCE_DATA_ID",
                                        "Value": "{% $sourceDataIter.dataId %}"
                                      },
                                      {
                                        "Name": "DEST_PROJECT_ID",
                                        "Value": "{% $destinationDataIter.projectId %}"
                                      },
                                      {
                                        "Name": "DEST_DATA_ID",
                                        "Value": "{% $destinationDataIter.dataId %}"
                                      }
                                    ]
                                  }
                                ]
                              }
                            },
                            "End": true,
                            "Retry": [
                              {
                                "ErrorEquals": ["ECS.AmazonECSException"],
                                "BackoffRate": 2,
                                "IntervalSeconds": 20,
                                "MaxAttempts": 3,
                                "JitterStrategy": "FULL"
                              }
                            ]
                          }
                        }
                      },
                      "End": true,
                      "Items": "{% $singlePartDataList %}",
                      "ItemSelector": {
                        "sourceDataIter": "{% $states.context.Map.Item.Value %}",
                        "destinationDataIter": "{% $destinationData %}"
                      },
                      "MaxConcurrency": 40
                    }
                  }
                },
                {
                  "StartAt": "Source List > 0",
                  "States": {
                    "Source List > 0": {
                      "Type": "Choice",
                      "Choices": [
                        {
                          "Next": "No files to copy",
                          "Condition": "{% $count($multiPartDataList) = 0 %}"
                        }
                      ],
                      "Default": "Run Copy Job",
                      "Assign": {
                        "retryCounter": 0
                      }
                    },
                    "No files to copy": {
                      "Type": "Pass",
                      "End": true
                    },
                    "Run Copy Job": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::lambda:invoke",
                      "Arguments": {
                        "FunctionName": "${__launch_icav2_copy_lambda_function_arn__}",
                        "Payload": {
                          "sourceDataList": "{% $multiPartDataList %}",
                          "destinationData": "{% $destinationData %}"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "Lambda.ServiceException",
                            "Lambda.AWSLambdaException",
                            "Lambda.SdkClientException",
                            "Lambda.TooManyRequestsException"
                          ],
                          "IntervalSeconds": 1,
                          "MaxAttempts": 3,
                          "BackoffRate": 2,
                          "JitterStrategy": "FULL"
                        },
                        {
                          "ErrorEquals": ["ThrottlingException"],
                          "BackoffRate": 2,
                          "IntervalSeconds": 100,
                          "MaxAttempts": 2,
                          "JitterStrategy": "FULL"
                        },
                        {
                          "ErrorEquals": ["ApiException"],
                          "BackoffRate": 2,
                          "MaxAttempts": 3,
                          "IntervalSeconds": 60,
                          "JitterStrategy": "FULL"
                        },
                        {
                          "ErrorEquals": ["Sandbox.Timedout"],
                          "BackoffRate": 2,
                          "MaxAttempts": 3,
                          "Comment": "Handle timeout",
                          "IntervalSeconds": 60
                        }
                      ],
                      "Assign": {
                        "jobId": "{% $states.result.Payload.jobId %}"
                      },
                      "Next": "Wait Job Completion"
                    },
                    "Wait Job Completion": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
                      "Arguments": {
                        "Entries": [
                          {
                            "Detail": {
                              "jobId": "{% $jobId %}",
                              "taskToken": "{% $states.context.Task.Token %}"
                            },
                            "DetailType": "${__event_detail_type__}",
                            "EventBusName": "${__internal_event_bus_name__}",
                            "Source": "${__event_source__}"
                          }
                        ]
                      },
                      "Catch": [
                        {
                          "ErrorEquals": ["States.TaskFailed"],
                          "Assign": {
                            "retryCounter": "{% $retryCounter + 1 %}"
                          },
                          "Next": "Failed with retryCounter > 3"
                        }
                      ],
                      "End": true,
                      "HeartbeatSeconds": 300
                    },
                    "Failed with retryCounter > 3": {
                      "Type": "Choice",
                      "Choices": [
                        {
                          "Next": "Update retry counter",
                          "Condition": "{% $retryCounter < 3 %}"
                        }
                      ],
                      "Default": "Send External Task Token Failure"
                    },
                    "Update retry counter": {
                      "Type": "Pass",
                      "Next": "Run Copy Job",
                      "Assign": {
                        "retryCounter": "{% $retryCounter + 1 %}"
                      }
                    },
                    "Send External Task Token Failure": {
                      "Type": "Task",
                      "Arguments": {
                        "TaskToken": "{% $taskToken %}"
                      },
                      "Resource": "arn:aws:states:::aws-sdk:sfn:sendTaskFailure",
                      "End": true
                    }
                  }
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "For each subfolder",
          "States": {
            "For each subfolder": {
              "Type": "Map",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "Get source uri list from source uri",
                "States": {
                  "Get source uri list from source uri": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Arguments": {
                      "FunctionName": "${__convert_source_uri_folder_to_uri_list_lambda_function_arn__}",
                      "Payload": {
                        "sourceUri": "{% $states.input.sourceUriIter %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      },
                      {
                        "ErrorEquals": ["ThrottlingException"],
                        "BackoffRate": 2,
                        "IntervalSeconds": 100,
                        "MaxAttempts": 2,
                        "JitterStrategy": "FULL"
                      },
                      {
                        "ErrorEquals": ["ApiException"],
                        "BackoffRate": 2,
                        "MaxAttempts": 3,
                        "IntervalSeconds": 60,
                        "JitterStrategy": "FULL"
                      },
                      {
                        "ErrorEquals": ["Sandbox.Timedout"],
                        "BackoffRate": 2,
                        "MaxAttempts": 3,
                        "Comment": "Handle timeout",
                        "IntervalSeconds": 60
                      }
                    ],
                    "Next": "Launch copy job sync",
                    "Output": {
                      "sourceUriListIter": "{% $states.result.Payload.sourceUriList %}",
                      "destinationUriIter": "{% $states.input.destinationUriIter %}"
                    }
                  },
                  "Launch copy job sync": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
                    "Arguments": {
                      "Entries": [
                        {
                          "Detail": {
                            "payload": {
                              "sourceUriList": "{% $states.input.sourceUriListIter %}",
                              "destinationUri": "{% $states.input.destinationUriIter %}"
                            },
                            "taskToken": "{% $states.context.Task.Token %}"
                          },
                          "DetailType": "${__event_detail_type__}",
                          "EventBusName": "${__internal_event_bus_name__}",
                          "Source": "${__event_source__}"
                        }
                      ]
                    },
                    "End": true,
                    "Retry": [
                      {
                        "ErrorEquals": ["States.HeartbeatTimeout"],
                        "BackoffRate": 2,
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3
                      }
                    ],
                    "HeartbeatSeconds": 3600
                  }
                }
              },
              "End": true,
              "Items": "{% $recursiveCopyJobsUriList %}",
              "ItemSelector": {
                "destinationUriIter": "{% $states.context.Map.Item.Value.destinationUri %}",
                "sourceUriIter": "{% $states.context.Map.Item.Value.sourceUri %}"
              },
              "MaxConcurrency": 40
            }
          }
        },
        {
          "StartAt": "For each external source uri",
          "States": {
            "For each external source uri": {
              "Type": "Map",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "Get external source file parameters",
                "States": {
                  "Get external source file parameters": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Arguments": {
                      "FunctionName": "${__get_external_source_file_metadata_lambda_function_arn__}",
                      "Payload": {
                        "externalSourceUri": "{% $states.input.externalSourceUriIter %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "Next": "Use lambda or ECS",
                    "Output": {
                      "externalSourceUriIter": "{% $states.input.externalSourceUriIter %}",
                      "destinationDataIter": "{% $states.input.destinationDataIter %}",
                      "sourceFileSizeInBytes": "{% $states.result.Payload.sourceFileSizeInBytes %}",
                      "isMultipartFile": "{% $states.result.Payload.isMultipartFile %}"
                    }
                  },
                  "Use lambda or ECS": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Next": "Upload from Filemanager (lambda)",
                        "Condition": "{% $states.input.sourceFileSizeInBytes < (8 * 1024 * 1024) %}",
                        "Comment": "Use lambda"
                      }
                    ],
                    "Default": "Upload from Filemanager (ECS)"
                  },
                  "Upload from Filemanager (lambda)": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Output": "{% $states.result.Payload %}",
                    "Arguments": {
                      "FunctionName": "${__upload_from_filemanager_lambda_function_arn__}",
                      "Payload": {
                        "sourceUri": "{% $states.input.externalSourceUriIter %}",
                        "sourceFileSizeInBytes": "{% $states.input.sourceFileSizeInBytes %}",
                        "destProjectId": "{% $states.input.destinationDataIter.projectId %}",
                        "destDataId": "{% $states.input.destinationDataIter.dataId %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "End": true
                  },
                  "Upload from Filemanager (ECS)": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::ecs:runTask.sync",
                    "Arguments": {
                      "LaunchType": "FARGATE",
                      "Cluster": "${__upload_from_filemanager_cluster__}",
                      "TaskDefinition": "${__upload_from_filemanager_task_definition__}",
                      "NetworkConfiguration": {
                        "AwsvpcConfiguration": {
                          "Subnets": "{% $split('${__upload_from_filemanager_subnets__}', ',') %}",
                          "SecurityGroups": "{% [ '${__upload_from_filemanager_security_group__}' ] %}"
                        }
                      },
                      "Overrides": {
                        "ContainerOverrides": [
                          {
                            "Name": "${__upload_from_filemanager_container_name__}",
                            "Environment": [
                              {
                                "Name": "SOURCE_URI",
                                "Value": "{% $states.input.externalSourceUriIter %}"
                              },
                              {
                                "Name": "IS_MULTIPART_FILE",
                                "Value": "{% $states.input.isMultipartFile ? 'true' : 'false' %}"
                              },
                              {
                                "Name": "FILE_SIZE_IN_BYTES",
                                "Value": "{% $string($states.input.sourceFileSizeInBytes) %}"
                              },
                              {
                                "Name": "DEST_PROJECT_ID",
                                "Value": "{% $states.input.destinationDataIter.projectId %}"
                              },
                              {
                                "Name": "DEST_DATA_ID",
                                "Value": "{% $states.input.destinationDataIter.dataId %}"
                              }
                            ]
                          }
                        ]
                      }
                    },
                    "End": true
                  }
                }
              },
              "End": true,
              "Items": "{% $externalSourceDataUriList %}",
              "ItemSelector": {
                "externalSourceUriIter": "{% $states.context.Map.Item.Value %}",
                "destinationDataIter": "{% $destinationData %}"
              }
            }
          }
        }
      ]
    },
    "Has renaming map": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "For object in renaming map",
          "Condition": "{% $renamingMapList ? true : false %}",
          "Comment": "Has renaming map"
        }
      ],
      "Default": "Send External Task Token Success"
    },
    "For object in renaming map": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Get renaming map parameters",
        "States": {
          "Get renaming map parameters": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
              "FunctionName": "${__get_renaming_map_params_lambda_function_arn__}",
              "Payload": {
                "sourceUriList": "{% $sourceUriList %}",
                "externalSourceUriList": "{% $externalSourceDataUriList %}",
                "destinationUri": "{% $destinationUri %}",
                "dataId": "{% $states.input.dataId ? $states.input.dataId : null %}",
                "inputFileUri": "{% $states.input.sourceUri ? $states.input.sourceUri : null %}",
                "outputFileName": "{% $states.input.outputFileName %}"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "Output": {
              "projectId": "{% $states.result.Payload.projectId %}",
              "inputDataId": "{% $states.result.Payload.inputDataId %}",
              "outputDataUri": "{% $states.result.Payload.outputDataUri %}",
              "fileSizeInBytes": "{% $states.result.Payload.fileSizeInBytes %}"
            },
            "Next": "If fileSize < 8 MB"
          },
          "If fileSize < 8 MB": {
            "Type": "Choice",
            "Choices": [
              {
                "Next": "Rename File (lambda)",
                "Condition": "{% $states.input.fileSizeInBytes < (8 * 1024 * 1024) %}",
                "Comment": "FileSize is less than 8 MB, use a lambda"
              }
            ],
            "Default": "Rename File (ECS)"
          },
          "Rename File (lambda)": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
              "FunctionName": "${__rename_file_lambda_function_arn__}",
              "Payload": {
                "projectId": "{% $states.input.projectId %}",
                "inputDataId": "{% $states.input.inputDataId %}",
                "outputDataUri": "{% $states.input.outputDataUri %}"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "End": true
          },
          "Rename File (ECS)": {
            "Type": "Task",
            "Resource": "arn:aws:states:::ecs:runTask.sync",
            "Arguments": {
              "LaunchType": "FARGATE",
              "Cluster": "${__rename_file_cluster__}",
              "TaskDefinition": "${__rename_file_task_definition__}",
              "NetworkConfiguration": {
                "AwsvpcConfiguration": {
                  "Subnets": "{% $split('${__rename_file_subnets__}', ',') %}",
                  "SecurityGroups": "{% [ '${__rename_file_security_group__}' ] %}"
                }
              },
              "Overrides": {
                "ContainerOverrides": [
                  {
                    "Name": "${__rename_file_container_name__}",
                    "Environment": [
                      {
                        "Name": "PROJECT_ID",
                        "Value": "{% $states.input.projectId %}"
                      },
                      {
                        "Name": "INPUT_DATA_ID",
                        "Value": "{% $states.input.inputDataId %}"
                      },
                      {
                        "Name": "OUTPUT_DATA_URI",
                        "Value": "{% $states.input.outputDataUri %}"
                      }
                    ]
                  }
                ]
              }
            },
            "End": true
          }
        }
      },
      "Items": "{% $renamingMapList %}",
      "Next": "Send External Task Token Success"
    },
    "Send External Task Token Success": {
      "Type": "Task",
      "Arguments": {
        "Output": {},
        "TaskToken": "{% $taskToken %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:sfn:sendTaskSuccess",
      "End": true,
      "Catch": [
        {
          "ErrorEquals": ["Sfn.TaskTimedOutException"],
          "Next": "Task timed out, no stress"
        }
      ]
    },
    "Task timed out, no stress": {
      "Type": "Succeed"
    }
  }
}
