app/step-function-templates/handle_copy_jobs_sfn_template.asl.json
{
  "QueryLanguage": "JSONata",
  "Comment": "A description of my state machine",
  "StartAt": "Set variables from inputs",
  "States": {
    "Set variables from inputs": {
      "Type": "Pass",
      "Next": "Turn on rule",
      "Assign": {
        "sourceUriList": "{% $states.input.payload.sourceUriList %}",
        "destinationUri": "{% $states.input.payload.destinationUri %}",
        "taskToken": "{% $states.input.taskToken ? $states.input.taskToken : null %}"
      }
    },
    "Turn on rule": {
      "Type": "Task",
      "Arguments": {
        "Name": "${__external_heartbeat_event_bridge_rule_name__}"
      },
      "Resource": "arn:aws:states:::aws-sdk:eventbridge:enableRule",
      "Next": "Generate copy job list"
    },
    "Generate copy job list": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__generate_copy_job_list_lambda_function_arn__}",
        "Payload": {
          "sourceUriList": "{% $sourceUriList %}",
          "destinationUri": "{% $destinationUri %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Run top level and recursive in parallel",
      "Assign": {
        "sourceDataList": "{% $states.result.Payload.sourceDataList %}",
        "destinationData": "{% $states.result.Payload.destinationData %}",
        "recursiveCopyJobsUriList": "{% $states.result.Payload.recursiveCopyJobsUriList %}"
      }
    },
    "Run top level and recursive in parallel": {
      "Type": "Parallel",
      "Next": "Send External Task Token Success",
      "Branches": [
        {
          "StartAt": "Find files with single multipart uploads",
          "States": {
            "Find files with single multipart uploads": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Arguments": {
                "FunctionName": "${__find_single_part_files_lambda_function_arn__}",
                "Payload": {
                  "dataList": "{% $sourceDataList %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "Next": "Parallel",
              "Assign": {
                "multiPartDataList": "{% $states.result.Payload.multiPartDataList %}",
                "singlePartDataList": "{% $states.result.Payload.singlePartDataList %}"
              }
            },
            "Parallel": {
              "Type": "Parallel",
              "Next": "Pass",
              "Branches": [
                {
                  "StartAt": "Upload single file",
                  "States": {
                    "Upload single file": {
                      "Type": "Map",
                      "ItemProcessor": {
                        "ProcessorConfig": {
                          "Mode": "INLINE"
                        },
                        "StartAt": "Upload Single File",
                        "States": {
                          "Upload Single File": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::ecs:runTask.sync",
                            "Arguments": {
                              "LaunchType": "FARGATE",
                              "Cluster": "${__cluster__}",
                              "TaskDefinition": "${__task_definition__}",
                              "NetworkConfiguration": {
                                "AwsvpcConfiguration": {
                                  "Subnets": "{% $split('${__subnets__}', ',') %}",
                                  "SecurityGroups": "{% [ '${__security_group__}' ] %}"
                                }
                              },
                              "Overrides": {
                                "ContainerOverrides": [
                                  {
                                    "Name": "${__container_name__}",
                                    "Environment": [
                                      {
                                        "Name": "SOURCE_PROJECT_ID",
                                        "Value": "{% $states.input.sourceDataIter.projectId %}"
                                      },
                                      {
                                        "Name": "SOURCE_DATA_ID",
                                        "Value": "{% $states.input.sourceDataIter.dataId %}"
                                      },
                                      {
                                        "Name": "DEST_PROJECT_ID",
                                        "Value": "{% $states.input.destinationDataIter.projectId %}"
                                      },
                                      {
                                        "Name": "DEST_DATA_ID",
                                        "Value": "{% $states.input.destinationDataIter.dataId %}"
                                      }
                                    ]
                                  }
                                ]
                              }
                            },
                            "End": true,
                            "Retry": [
                              {
                                "ErrorEquals": ["ECS.AmazonECSException"],
                                "BackoffRate": 2,
                                "IntervalSeconds": 20,
                                "MaxAttempts": 3,
                                "JitterStrategy": "FULL"
                              }
                            ]
                          }
                        }
                      },
                      "End": true,
                      "Items": "{% $singlePartDataList %}",
                      "ItemSelector": {
                        "sourceDataIter": "{% $states.context.Map.Item.Value %}",
                        "destinationDataIter": "{% $destinationData %}"
                      }
                    }
                  }
                },
                {
                  "StartAt": "Source List > 0",
                  "States": {
                    "Source List > 0": {
                      "Type": "Choice",
                      "Choices": [
                        {
                          "Next": "No files to copy",
                          "Condition": "{% $count($multiPartDataList) = 0 %}"
                        }
                      ],
                      "Default": "Run Copy Job",
                      "Assign": {
                        "retryCounter": 0
                      }
                    },
                    "No files to copy": {
                      "Type": "Pass",
                      "End": true
                    },
                    "Run Copy Job": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::lambda:invoke",
                      "Arguments": {
                        "FunctionName": "${__launch_icav2_copy_lambda_function_arn__}",
                        "Payload": {
                          "sourceDataList": "{% $multiPartDataList %}",
                          "destinationData": "{% $destinationData %}"
                        }
                      },
                      "Retry": [
                        {
                          "ErrorEquals": [
                            "Lambda.ServiceException",
                            "Lambda.AWSLambdaException",
                            "Lambda.SdkClientException",
                            "Lambda.TooManyRequestsException"
                          ],
                          "IntervalSeconds": 1,
                          "MaxAttempts": 3,
                          "BackoffRate": 2,
                          "JitterStrategy": "FULL"
                        }
                      ],
                      "Assign": {
                        "jobId": "{% $states.result.Payload.jobId %}"
                      },
                      "Next": "Wait Job Completion"
                    },
                    "Wait Job Completion": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
                      "Arguments": {
                        "Entries": [
                          {
                            "Detail": {
                              "jobId": "{% $jobId %}",
                              "taskToken": "{% $states.context.Task.Token %}"
                            },
                            "DetailType": "${__event_detail_type__}",
                            "EventBusName": "${__internal_event_bus_name__}",
                            "Source": "${__event_source__}"
                          }
                        ]
                      },
                      "Catch": [
                        {
                          "ErrorEquals": ["States.TaskFailed"],
                          "Assign": {
                            "retryCounter": "{% $retryCounter + 1 %}"
                          },
                          "Next": "Failed with retryCounter > 3"
                        }
                      ],
                      "End": true,
                      "HeartbeatSeconds": 300
                    },
                    "Failed with retryCounter > 3": {
                      "Type": "Choice",
                      "Choices": [
                        {
                          "Next": "Update retry counter",
                          "Condition": "{% $retryCounter < 3 %}"
                        }
                      ],
                      "Default": "Send External Task Token Failure"
                    },
                    "Update retry counter": {
                      "Type": "Pass",
                      "Next": "Run Copy Job",
                      "Assign": {
                        "retryCounter": "{% $retryCounter + 1 %}"
                      }
                    },
                    "Send External Task Token Failure": {
                      "Type": "Task",
                      "Arguments": {
                        "TaskToken": "{% $taskToken %}"
                      },
                      "Resource": "arn:aws:states:::aws-sdk:sfn:sendTaskFailure",
                      "End": true
                    }
                  }
                }
              ]
            },
            "Pass": {
              "Type": "Pass",
              "End": true
            }
          }
        },
        {
          "StartAt": "For each subfolder",
          "States": {
            "For each subfolder": {
              "Type": "Map",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "Get source uri list from source uri",
                "States": {
                  "Get source uri list from source uri": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Arguments": {
                      "FunctionName": "${__convert_source_uri_folder_to_uri_list_lambda_function_arn__}",
                      "Payload": {
                        "sourceUri": "{% $states.input.sourceUriIter %}"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                        "JitterStrategy": "FULL"
                      }
                    ],
                    "Next": "Launch copy job sync",
                    "Output": {
                      "sourceUriListIter": "{% $states.result.Payload.sourceUriList %}",
                      "destinationUriIter": "{% $states.input.destinationUriIter %}"
                    }
                  },
                  "Launch copy job sync": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::events:putEvents.waitForTaskToken",
                    "Arguments": {
                      "Entries": [
                        {
                          "Detail": {
                            "payload": {
                              "sourceUriList": "{% $states.input.sourceUriListIter %}",
                              "destinationUri": "{% $states.input.destinationUriIter %}"
                            },
                            "taskToken": "{% $states.context.Task.Token %}"
                          },
                          "DetailType": "${__event_detail_type__}",
                          "EventBusName": "${__internal_event_bus_name__}",
                          "Source": "${__event_source__}"
                        }
                      ]
                    },
                    "End": true
                  }
                }
              },
              "End": true,
              "Items": "{% $recursiveCopyJobsUriList %}",
              "ItemSelector": {
                "destinationUriIter": "{% $states.context.Map.Item.Value.destinationUri %}",
                "sourceUriIter": "{% $states.context.Map.Item.Value.sourceUri %}"
              }
            }
          }
        }
      ]
    },
    "Send External Task Token Success": {
      "Type": "Task",
      "Arguments": {
        "Output": {},
        "TaskToken": "{% $taskToken %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:sfn:sendTaskSuccess",
      "End": true
    }
  }
}
